<div class="col-md-offset-4 col-md-4">
    <h1>Brands</h1>
</div>
<div class="col-md-offset-2 col-md-8">
    <p>
        Here you can see a complete list of all your currents Brands.
    </p>
    <p>
        You can create, edit and delete a brand whenever you want.
    </p>
    <div class="col-md-8">
        <h3>Registered Brands</h3>
        <hr class="brand-separator">
        <div id="brands-list">
            <ul>
                <% @brands.each do |brand| %>
                    <li class="well col-md-12">
                        <div class="brand-name col-md-8"><%= brand.name %></div>
                        <div class="brand-buttons col-md-4">
                            <%= link_to "", edit_brand_path(brand), class: 'btn btn-default glyphicon glyphicon-pencil' %>
                            <%= link_to "", brand_path(brand),
                                            method: :delete,
                                            data: {confirm: "Are you sure that want to delete #{brand.name} brand and all their products?"}, 
                                            class: 'btn btn-danger glyphicon glyphicon-remove' %>
                        </div> 
                    </li>
                <% end %>
            </ul>
        </div> 
    </div> 
    <div class="col-md-4" id="menu-brand-buttons">
        <hr>
        <%= link_to "Create a new Brand",new_brand_path,class: 'btn btn-default boton' %>
        <hr>
        <%= link_to "Go to Products",products_path,class: 'btn btn-default boton' %>
        <hr>
    </div>
</div>