<footer>
    <div class="container">
        <div class="col-md-4" id="navigateList">
            <h4>Navigate</h4>
            <ul>
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Brands", brands_path %></li>
                <li><%= link_to "Products", products_path %></li>
            </ul>
        </div>
        <div class="col-md-4" id="contactMeList">
            <h4>Contact Me</h4>
            <ul>
                <li><%= link_to "LinkedIn" , "https://www.linkedin.com/in/salvadorjimenez",:target =>'_blank' %></li>
                <li><%= link_to "Gmail", "mailto:sjimenez.developer@gmail.com" %></li>
                <li><%= link_to "Facebook", "https://www.facebook.com/SalvadorJiimenez",:target =>'_blank' %></li>
                <li><%= link_to "GitHub" , "https://github.com/salvadorJimenez" , :target => '_blank' %></li>
            </ul>
        </div>
        <div class="col-md-4" id="quote">
            <p>The MiniMarketApp was developed with love by Salvador Jiménez Mendoza as a delivery for a test of <a href="https://michelada.io/" target="_blank"> Michelada.io</a> .Don't worry and Be happy :)</p>
        </div>
    </div>
</footer>